@charset "utf-8";
/* CSS Document */

/*
@import url("font/stylesheet.css");

@import url(//db.onlinewebfonts.com/c/41a37b5ce5c3e0b6200b09e4f6e8b5e5?family=Gibson);
*/

body{
	/*
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	*/	
	font-family:"Gibson",sans-serif;;
	
	padding: 0;
    margin: 0;
	/*font-family:'gibsonregular',sans-serif;*/
    /*font-family: "canada-type-gibson",sans-serif;*/
    font-weight: 400;
    color: #3b3b3b;
    font-size: 16px;
    line-height: 1.3em;
	
	
}
a{
	color:inherit;
}


/* header */
#header{
	background-image:url(images/banner.png);
	background-size:cover;
	height:435px;
	color:#FFF;
	overflow:hidden;
}
#header .header_top{
	padding:10px 0px;;
}
#header .logo{
	float:left;
	height:74px;
}
#header .menu_area{
	float:right;
}
#header .menu_top{
	height:50px;
}
#header .social img{
	height:30px;
}
#header .social li:not(:last-child){
	padding-right:10px;
}
#header .login{
	float:right;
}
#header .login li:nth-child(1){
	padding:5px 10px;
	border:solid 1px #FFFFFF;
}
#header .login li:nth-child(2){
	padding:5px 10px;
	border:solid 1px #FFFFFF;
	color:#36414f;
	background:#FFF;
}
#header .login li a{
	font-size:14px;
	font-weight:bold;
}
#header ul{
	list-style-type:none;
	text-align:right;
}
#header li{
	display:inline-block;
}
#header .menu_bottom{

}
#header .header_top .menu_bottom li:not(:last-child){
	padding-right:15px;
	font-size:15px;
}
#header .header_bottom{
	margin:75px auto 20px;
	padding:70px;
	background:rgba(0,0,0,0.4); 
	text-align:center;
}
#header .header_bottom button{
	margin:20px 10px 10px;
	background-color:transparent;
	padding:12px 28px;;
	border-radius:25px;
	border:solid #FFF 2px;
	font-weight:bold;
}


/* services */
#services{
	text-align:center;
}
#services img{
	margin-top:50px;
}


/* companies */
#companies{
	background-color:#f4f4f4;
	padding-top:50px;
}

#companies .company_box{
    height: 364px;
    position: relative;
	color:#FFF;
}
@media (max-width: 767px){
	#companies .company_box{
    	height: 181px !important;
	}
}
#companies .last{
	height:181px !important;
}
#companies span{
	position: absolute;
    width:100%;
    height: inherit;
}
#companies .col-sm-3:nth-child(1) span{
    background: linear-gradient(0deg,rgba(11,183,161,.7) 19%,rgba(1,1,1,.20) 100%);	
}
#companies .col-sm-6 span{
    background: linear-gradient(0deg,rgba(13,91,143,.9) 9%,rgba(17,23,26,0.35) 100%);
}
#companies .col-sm-3:nth-child(3) span{
    background: linear-gradient(0deg,rgba(17,23,26,0.35) 0,rgba(6,63,93,0.6) 43%,rgba(50,197,178,0.6) 100%);
}
#companies .col-sm-3:nth-child(4) span{
    background: linear-gradient(0deg,rgba(227,74,58,.6) 10%,rgba(17,23,26,0.35) 60%);
}


#companies .company_box img{
	width: 100%;
	object-fit: cover;
    height: inherit;
	
}
#companies .company_box .company_data{
	
	padding:0px 15px;
	position:absolute;
	bottom:10px;
}



/* featured */
#featured_jobs{
	background-color:#063f5d;
	color:#FFF;
}


/* footer */
#footer{
	color:#FFF;
	background-color:#404040;
	height:200px;
}
#footer .logo{
	margin-top:50px;
}
